@media screen and (max-width:780px) {
     h1 {
          font-size: 2.5rem;
     }

     h3 {
          font-size: 2rem;
          margin-bottom: 20px;
     }

     p {
          font-size: 12px;
     }

     .header-top {
          padding: 20px;
     }


     .header-center #search-form {
          max-width: 240px;
     }

     .btn {
          font-size: 13px;
          padding: 4px 8px;
     }

     .header-right {
          position: absolute;
          top: 92px;
          z-index: 1;
     }

     .nav-bar {
          display: flex;
          align-items: center;
          justify-content: end;
          position: relative;
          height: 50px;
          margin: 1px 0;
     }

     .hamburger,
     .hamburgerLabel {
          display: flex;

     }

     .nav-list {
          flex-direction: column;
          position: absolute;
          padding: 8px;
          width: 150px;
          gap: 10px;
          top: 50px;
          border-radius: 10px;
          z-index: 1;
          background-color: #151516;
          transform: translate(-200px);
          opacity: 0;
          visibility: hidden;


     }

     .nav-list li {
          width: 100%;
          height: auto;
          padding: 6px;
          border-radius: 10px;

     }

     .nav-list li:hover {
          background-color: rgba(0, 0, 0, 0.413);
     }

     .new-episode label,
     .newEpisodeCheckboxHamburger {
          display: flex;
     }

     #hamburgerCheck:checked~.nav-list {
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
     }

     .new-episode-list {
          flex-direction: column;
          position: absolute;
          width: 200px;
          top: 40px;
          left: -15px;
          background-color: var(--bg-clr);
          border-radius: 20px;
          transform: translateX(-100px);
          z-index: 1;
          padding: 10px;
          opacity: 0;
          visibility: hidden;

     }


     .new-episode-list li {
          width: 100%;
          height: auto;
          background-color: transparent;
     }

     #newEpisodeCheckbox:checked~.new-episode-list {
          opacity: 1;
          visibility: visible;
          transform: translateX(0);
     }

     .card-addseries {
          place-items: center;
     }

     .card-addseries img {
          width: 150px;
     }

     .footer {
          flex-direction: column;
          gap: 20px;
     }

     .footer h6 {
          font-size: 1.4rem;
     }

}





@media screen and (max-width:490px) {
     .header-left {
          display: none;
     }

     .header-center #search-form {
          max-width: 200px;
     }

     .fa-magnifying-glass {
          display: none;
     }

     .btn {
          font-size: 12px;
     }

     .addseries-left a {
          font-size: 10px;

     }


}