@media screen and (max-width:780px) {
     h3 {
          font-size: 2rem;
          margin-bottom: 20px;
     }

     .header-top {
          padding: 20px;
     }

     .header-left h1 {
          font-size: 2.5rem;
     }

     .header-center #search-form {
          max-width: 240px;
     }

     .btn {
          font-size: 13px;
          padding: 4px 8px;
     }

     .nav-bar {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          height: 50px;
     }

     .hamburger,
     .hamburgerLabel {
          display: flex;

     }

     .nav-list {
          flex-direction: column;
          position: absolute;
          padding: 8px;
          width: 150px;
          gap: 10px;
          top: 50px;
          border-radius: 10px;
          z-index: 2;
          background-color: #151516;
          transform: translate(-200px);
          opacity: 0;
          visibility: hidden;


     }

     .nav-list li {
          width: 100%;
          height: auto;
          padding: 6px;
          border-radius: 10px;

     }

     .nav-list li:hover {
          background-color: rgba(0, 0, 0, 0.413);
     }

     #hamburgerCheck:checked~.nav-list {
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
     }

     .hero-title h3 {
          font-size: 2rem;
     }

     .new-episode-button-container a {
          font-size: 14px;
     }

     .new-episode-list {
          flex-wrap: wrap;
     }

     .card-addseries {
          place-items: center;
     }

     .card-addseries img {
          width: 150px;
     }

     .footer {
          flex-direction: column;
          gap: 20px;
     }

     .footer h6 {
          font-size: 1.4rem;
     }
}





@media screen and (max-width:490px) {
     .header-left {
          display: none;
     }

     .header-center #search-form {
          max-width: 200px;
     }

     .fa-magnifying-glass {
          display: none;
     }

     .btn {
          font-size: 12px;
     }

     .addseries-left a {
          font-size: 10px;

     }


}